<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="commands" name="commands" schema="schema/commands.exsd"/>
   <extension-point id="listeners" name="listeners" schema="schema/listeners.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.worldline.clic.internal.view.CommandLineClientView"
            icon="icons/icon.png"
            id="com.worldline.wlrobots.clic.view"
            name="CLiC"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.worldline.clic.commands">
      <command
            description="Displays the list of the available commands"
            id="list"
            implementation="com.worldline.clic.internal.commands.impl.ListCommandsCommand">
      </command>
      <command
            description="Gives parameters information for given command"
            id="help"
            implementation="com.worldline.clic.internal.commands.impl.HelpCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.worldline.clic.internal.console.InteractiveConsoleFactory"
            icon="icons/icon.png"
            label="CLiC console">
      </consoleFactory>
   </extension>

</plugin>
